:root {
  --primary-grey: #bebebe;
  --dark-grey: #786f7a;
  --lightpurple: #f3dfff;
  --greenish: #b2e44d;
  --dark-greenish: #8db53d;
  --alarm-color: #db5072;

  /* value colors */
  --one-value: #6d1bf2;
  --two-value: #c428e3;
  --three-value: #eb1a91;
  --four-value: #dc4747;
  --five-value: #f2800f;
  --six-value: #ebc81a;
  --seven-value: #ddeb1a;
  --eight-value: #ff0000;

  --scale-value: 1;

  /*--easy-board-width: 370px;
  --normal-board-width: 730px;
  --expert-board-width: 1365px;*/
}

/* Animations */
@keyframes bomb-flash {
  50% {
    background-color: var(--primary-grey);
  }
}
@keyframes flag-flash {
  50% {
    background-image: none;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Subway Ticker";
  src: url("./assets/subway-ticker.ttf");
}

html {
  font-family: "Subway Ticker", sans-serif;
  font-size: 62.5%;
}
svg {
  width: 100%;
  height: 100%;
}

.border {
  border: 0.5rem solid;
}
.border--convex {
  border-color: var(--lightpurple) var(--lightpurple) var(--dark-grey)
    var(--dark-grey);
}
.border--pressed {
  border-color: var(--dark-grey) var(--dark-grey) var(--lightpurple)
    var(--lightpurple);
}
.game {
  background-color: var(--primary-grey);
  padding: 1.5rem;
  position: absolute;
  width: 370px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale-value));
  border-radius: 1rem;
}

.header {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-grey);
  margin-bottom: 1rem;
}

.header__counter,
.header__timer {
  height: 4.5rem;
  width: 7rem;
  font-size: 2.2rem;
  background-color: black;
  color: var(--greenish);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.reset__button {
  height: 4.5rem;
  width: 4.5rem;
  background-color: var(--greenish);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.reset__button:hover {
  background-color: var(--dark-greenish);
}
.board {
  background-color: var(--primary-grey);
  display: flex;
  flex-wrap: wrap;
}

.game__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 0;
}
.button {
  flex: 1;
  padding: 0.4rem 0;
  font-size: 1.4rem;
  font-family: "Subway Ticker", sans-serif;
  background-color: var(--greenish);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease 0s;
}
.button:hover {
  background-color: var(--one-value);
  color: #ffffff;
}
.cell {
  display: inline-block;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--alarm-color);
  font-weight: bold;
  border-radius: 0.7rem;
}
.cell:hover {
  opacity: 0.5;
}
.cell--flagged {
  background-image: url("./assets/flag.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
}
.cell--flagged:hover {
  animation: flag-flash infinite 0.3s ease-out;
  opacity: 1;
}
.cell--mined {
  background-image: url("./assets/bomb.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 2.5rem;
  background-color: var(--alarm-color);
  animation: bomb-flash infinite 0.7s ease-out;
}
.cell--revealed {
  border-color: #a1a1a1;
}
.cell--value-1 {
  color: var(--one-value);
}
.cell--value-2 {
  color: var(--two-value);
}
.cell--value-3 {
  color: var(--three-value);
}
.cell--value-4 {
  color: var(--four-value);
}
.cell--value-5 {
  color: var(--five-value);
}
.cell--value-6 {
  color: var(--six-value);
}
.cell--value-7 {
  color: var(--seven-value);
}
.cell--value-8 {
  color: var(--eight-value);
}
